.button {
  padding: 10px 15px;
  width: 100px;
  text-align: center;
  border-radius: 10px;
  outline: none;
  border: none;
  transition: color 500ms ease, background 500ms, box-shadow 500ms ease;
}
.it,
.arbitrage,
.ecom {
  font-family: inherit;
  color: rgb(142, 142, 142);
  background: var(--background);
  box-shadow: inset 0px 0px 5px 1px rgb(0 0 0 / 70%);
  &.active {
    background: var(--background);
    color: var(--main-color-text);
    box-shadow: inset 0px 0px 5px 1px rgb(0 0 0 / 18%);
    font-weight: 600;
  }
  &:not(.active) {
    background: rgb(220, 220, 220);
    color: rgb(142, 142, 142);
  }
}
