.toggleBar {
  background: var(--main-color-text);
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  max-width: max-content;
  padding: 15px;
  border-radius: 10px;
  margin: auto;
}
