.homeDiv {
  color: var(--main-color-text);
  height: 100vh;
}
.mainTitle {
  text-align: center;
  margin-bottom: 15px;
}
.subTitle {
  text-align: center;
  margin-bottom: 15px;
}
.price {
  text-align: center;
  margin-bottom: 15px;
}
